{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Registrar nueva solicitud de Inf. de Red{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <label for="name">Nombre del Conjunto de Datos*</label>
        <input id="name" name="name" class="form-control" type="name" placeholder="Nombre" required>{{ request.form['name'] }}</input>
      </div>
    </div>
    <div class="row">
      <label for="excel">Cargar Excel</label>
      <input id="excel" name="excel" type="file" class="custom-file-input" >
    </div>

    <input class="sign-btn" type="submit" value="Generar Grupos">
  </form>
{% endblock %}