*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body { 
    /*max-width: 100%; background: white; margin: auto !important; */
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(74,104,218,1) 0%, rgba(164,105,183,1) 65%)
}

.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}

.header-data{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 4px solid white;
}

.options{
    list-style-type: none;
    width: 480px;
    display: flex;
    justify-content: space-around;
}

.name{
    text-align: center;
    /* flex-grow: 1; */
    width: 480px;
    display: block;
    margin-left: 36%;
    margin-right: auto;
    font-size: 40px;
}

.sign-in{
    display: flex;
    flex-direction: row;
    width: 480px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.avatar{
    height: 50px;
    margin: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 380px;
}

.datos{
    display: flex;
    flex-direction: column;
}

#input1{
    display: flex;
    flex-direction: column;
}

.text-
{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.input-{
    border-radius: 5px;
    height: 35px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: none;
    border: 3px solid white;
}

::placeholder {
    color: white;
  }

.sign-btn{
    background: #151f42;
    padding: 10px 20px;
    border-color: #151f42;
    border-radius: 12px;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 5px 5px #4f68d8;
    margin-left: 20px;
    margin-top: 10px;
}

.danger-btn{
    background: #610C04;
    padding: 10px 20px;
    border-color: #610C04;
    border-radius: 12px;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 5px 5px #4f68d8;
    margin-left: 20px;
    margin-top: 10px;
}

.view-btn{
  background: #0c5180;
  /*padding: 10px 20px;*/
  border-color: #151f42;
  border-radius: 8px;
  cursor: pointer;
  width: 50px;
  height: 30px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer{
    height: 60px;
    border-top: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.file {
    /*opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;*/
}

.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
}

.file-name {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
}


.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.notbold { font-weight: normal; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }


/* CHECKBOX STYLE */
/* The container */
.container_check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*color: #4f68d8;*/
}

/* Hide the browser's default checkbox */
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px
}

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_check input:checked ~ .checkmark {
  background-color: #4e68d9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ALERTS STYLE */
.alert {
  position: relative;
  top: 10;
  left: 0;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 400;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}
/*
.info {
  background-color: #EEE;
  border: 1px solid #DDD;
  color: #999;
}
*/

.success {
  background-color: #198754;
  border: 1px solid rgb(16, 87, 16);
  color: #9A9;
}

.notice {
  background-color: #EFF;
  border: 1px solid #DEE;
  color: #9AA;
}

.warning {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
}

.error {
  background-color: #E53935;
  border: 1px solid rgb(90, 0, 0);
  color: rgb(0, 0, 0);
}


/* TABLE STYLE START */
table {
  display: block;
  overflow-x: auto;
  table-layout: fixed;
  white-space:nowrap;
  background: #151f42;
}

/* TABLE STYLE ENDS */