*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body { 
    /*max-width: 100%; background: white; margin: auto !important; */
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(74,104,218,1) 0%, rgba(164,105,183,1) 65%)
}

.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}

.header-data{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 4px solid white;
}

.options{
    list-style-type: none;
    width: 480px;
    display: flex;
    justify-content: space-around;
}

.name{
    text-align: center;
    /* flex-grow: 1; */
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

.sign-in{
    display: flex;
    flex-direction: row;
    width: 480px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.avatar{
    height: 50px;
    margin: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 430px;
}

.datos{
    display: flex;
    flex-direction: column;
}

#input1{
    display: flex;
    flex-direction: column;
}

.text-
{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.input-{
    border-radius: 5px;
    height: 35px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: none;
    border: 3px solid white;
}

.sign-btn{
    background: #151f42;
    padding: 10px 20px;
    border-color: #151f42;
    border-radius: 12px;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 5px 5px #4f68d8;
    margin-left: 20px;
    margin-top: 10px;
}

.footer{
    height: 60px;
    border-top: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 150px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/*
h1 { 
    font-family: serif; color: #377ba8; margin: 1rem 0; 
}
#title-op { font-family: serif; color: #377ba8; font-weight: bold;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }*/
/*nav {
    
    background: lightgray; 
    display: flex; 
    align-items: center; 
    padding: 0 0.5rem; 
}*/
/*
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
*/
/*
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
*/

/*
.content label { 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.notbold { font-weight: normal; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

td { font-size: 0.85em; text-align: center; vertical-align: middle; }

table {
    display: block;
    overflow-x: auto;
    table-layout: fixed;
    white-space:nowrap;
}
*/
/*
.largediv {
    text-align: left;
    word-wrap: break-word;         
    overflow-wrap: break-word;     
    white-space: normal;
    width: 700px;
}*/

