{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Iniciar Sesión{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <div class="datos">
      <div class="user" id="input1">
        <label for="email" class="text-">Corre Electrónico*</label>
        <input type="email" name="email" id="email" class="input-" required>
      </div>
      <div class="password" id="input1">
        <label for="password" class="text-">Contraseña*</label>
        <input type="password" name="password" id="password" class="input-" required>
      </div>
      <div>
        <label class="container_check">Recuérdame
          <input name="inputRemember" type="checkbox" autocomplete="off">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    
    <div>
      <input type="submit" value="Iniciar Sesión" class="sign-btn">
    </div>
    <br>
    <div>
      <a href="{{ url_for('auth.register') }}" class="text-">¿No tienes Cuenta? Registrate</a>
    </div>

  </form>
{% endblock %}