{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Regístrate{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="user" id="input1">
      <label for="username" class="text-">Nombre*</label>
      <input name="username" id="username" class="input-" required>
    </div>
    <div class="user" id="input1">
      <label for="lastname" class="text-">Apellido</label>
      <input name="lastname" id="lastname" class="input-">
    </div>
    <div class="user" id="input1">
      <label for="password" class="text-">Contraseña*</label>
      <input type="password" name="password" id="password" class="input-" required>
    </div>
    <div class="user" id="input1">
      <label for="email" class="text-">E-mail*</label>
      <input type="email" name="email" id="email" class="input-" required>
    </div>
    <br>
    <input class="sign-btn" type="submit" value="Registrar" >
  </form>
{% endblock %}