{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Regístrate{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="datos">
      <div class="user" id="input1">
        <label for="username" class="text-">Nombre de Usuario</label>
        <input name="username" id="username" class="input-" required>
      </div>
      </div>
      <div class="user" id="input1">
        <label for="password" class="text-">Contraseña</label>
        <input type="password" name="password" id="password" class="input-" required>
      </div>
      <div class="user" id="input1">
        <label for="email" class="text-">E-mail</label>
        <input type="email" name="email" id="email" class="input-" required>
      </div>

    <br>
    <input class="sign-btn" type="submit" value="Registrar" >
  </form>
{% endblock %}