{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="column">
                <img src="/static/images/StudGroup_Icon2.png" alt="" class="logo">
            </div>
            <div class="column">
                <div class="info">
                    <div class="title">
                        <h2>Bienvenido a StudGroup</h2>
                    </div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                            dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    {% if not g.user %}
                    <div class="buttons">
                        <a href="{{ url_for('auth.login') }}"><button class="sign-btn">Iniciar Sesion</button></a>
                        <a href="{{ url_for('auth.register') }}"><button class="sign-btn">Registrate</button></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if g.user %}
        <br>
        <hr>
        <div class="center">
            <a href="{{ url_for('inf_red.create') }}"><button class="sign-btn">Cargar Datos</button></a>
            <br>
            <br>
            {% for inf_red in inf_redes %}
                <article class="post">
                <header>
                    <div>
                        <h1>{{ inf_red['name'] }}</h1>
                        <div class="about">por {{ inf_red['username'] }} el {{ inf_red['fecha_creacion'].strftime('%d-%m-%Y') }}</div>
                    </div>
                    <a class="action" href="{{ url_for('inf_red.view', id=inf_red['id']) }}"><button class="view-btn">Ver</button></a>
                </header>
                </article>
                {% if not loop.last %}
                <hr>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

    </div>
{% endblock %}